{% extends 'base.html' %}

{% block title %}{{current_user.first_name}} Account Settings{% endblock %}

{% block mainbody %}
<div class="container home-container">
  <div class="jumbotron">
      <div class="container">
              <h1>Profile</h1>
                <hr>
              <div class="row">                      
                <div class="col-md-8 personal-info">
                  
                  <form class="form-horizontal" role="form">
                    <fieldset disabled>
                     
                      <div class="form-group">
                          <label class="col-lg-3 control-label">First name:</label>
                          <div class="col-lg-10">
                          <input class="form-control" type="text" value="Jane">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-3 control-label">Last name:</label>
                          <div class="col-lg-10">
                          <input class="form-control" type="text" value="Bishop">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-3 control-label">Email:</label>
                          <div class="col-lg-10">
                          <input class="form-control" type="text" value="janesemail@gmail.com">
                          </div>
                      </div>
                      
                    </fieldset>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-10">
                        <a role="button" href="/editsettings" class="btn btn-primary" value="Make Changes">Make Changes</a>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>
          <hr>

      </div>
  </div>
</div>
  
{% endblock %}
