{% extends 'base.html' %}

{% block title %}Artefacts{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/artefacts.css">
{% endblock %}

{% block mainbody %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Artefacts</h1>
        <p class="lead text-muted">This is your family's collection of wonderful artefacts! From here you can view them all, or even edit the ones that belong to you!</p>
        <p>
          <div class="btn-group">
            <div class="row">
              <a href="/uploadartefact" class="btn btn-primary my-2">Add an Artefact</a>
              <p>&nbsp;</p>
              <form>      
                <button type="button" class="btn btn-secondary dropdown-toggle my-2" data-toggle="dropdown">Filter by Tag <span class="caret"></span></button>
                <div class="dropdown-menu scrollable-dropdown" role="menu">
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag" type="checkbox">
                      <label class="form-check-label" for="tag"> Tag </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag2" type="checkbox">
                      <label class="form-check-label" for="tag2"> Tag2 </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag3" type="checkbox">
                      <label class="form-check-label" for="tag3"> Tag3 </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag4" type="checkbox">
                      <label class="form-check-label" for="tag4"> Tag4 </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag5" type="checkbox">
                      <label class="form-check-label" for="tag5"> Tag5 </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                        <input class="form-check-input" id="tag6" type="checkbox">
                        <label class="form-check-label" for="tag6"> Tag6 </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag7" type="checkbox">
                      <label class="form-check-label" for="tag7"> Tag7 </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag8" type="checkbox">
                      <label class="form-check-label" for="tag8"> Tag8 </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check dropdown-item">
                      <input class="form-check-input" id="tag9" type="checkbox">
                      <label class="form-check-label" for="tag9"> Tag9 </label>
                    </div>
                  </li>
                </div>
                <button type="submit" class="btn btn-secondary">Filter</button>
              </form>               
            </div>   
          </div>      
        </p>
      </div> 

    <span class="badge badge-info">Tag1</span>
    <span class="badge badge-info">Tag2</span>
    <span class="badge badge-info">Tag3</span>
      

    </section>

    <div class="container">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            {% for artefact_preview in artefact_previews %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">

                {% if artefact_preview['image'] is not none %}
                <img class="card-img-top" src="{{artefact_preview['image'].image_url}}">
                {% else %}
                <img class="card-img-top" src="/static/images/circle-blues.png">
                {% endif %}

                <div class="card-body">
                  <h5 class="card-title">{{artefact_preview['artefact'].name}}</p></h5>
                  <p style="text-align: left;" class="card-text">{{artefact_preview['artefact'].description}}</p></p>
                  <p style="text-align: left;" class="card-text"><small class="text-muted">Owner: {{artefact_preview['first_name']}} {{artefact_preview['surname']}}</small></p>
                  <div class="btn-group">
                    <a href="/artefact/{{artefact_preview['artefact'].artefact_id}}" class="btn btn-sm btn-outline-secondary">View</a>
                    {% if artefact_preview['artefact'].owner == user_id %}
                    <a href="/editartefact/{{artefact_preview['artefact'].artefact_id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>

    </div>

{% endblock %}
