<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <title>Artefacts</title>
</head>
<body>
    <h1>Artefacts</h1>
    <ol id="artefacts">
    {% for artefact in artefacts %}
    <li>
      <p>Name: {{artefact.name}}</p>
      <p>Owner: {{artefact.owner}}</p>
      <p>Description: {{artefact.description}}</p> <br>
    </li>
    {% endfor %}
    </ol>
</body>
</html>