<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/artefacts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <title>Artefacts</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff">
        <a class="navbar-brand" href="/artefacts"><h1>Shell-Safe 🐢</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/artefacts">Artefacts <span class="sr-only">(current)</span></a>
            </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/settings">Account Settings</a>
                <a class="dropdown-item" href="/family">My Family</a>
                </div>
              </div>
            <a class="nav-item btn-logout">
                <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#exampleModal">
                  Logout
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        Are you sure you want to logout?
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-secondary" data-dismiss="modal" role="button">Close</a>
                          <a class="btn btn-primary" href="/#" role="button">Logout</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Artefacts</h1>
        <p class="lead text-muted">This is your family's collection of wonderful artefacts! From here you can view them all, or even edit the ones that belong to you!</p>
        <p>
          <a href="/uploadartefact" class="btn btn-primary my-2">Add an Artefact</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </section>

    <div class="container">
      <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
              {% for artefact in artefacts %}
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="/static/images/circle-blues.png">
                      <div class="card-body">
                        <h5 class="card-title">Name: {{artefact.name}}</p></h5>
                        <p style="text-align: left;" class="card-text">Description: {{artefact.description}}</p></p>
                        <p style="text-align: left;" class="card-text"><small class="text-muted">Owner: {{artefact.owner}}</small></p>
                        <p style="text-align: left;" class="card-text"><small class="text-muted">Name: {{artefact.first_name}} {{artefact.surname}}</small></p>
                        <div class="btn-group">
                            <a href="/artefact/{{artefact.artefact_id}}" class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="/editartefact" class="btn btn-sm btn-outline-secondary">Edit</a>
                        </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      
  </div>
   

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>
</html>
