<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artefact</title>
</head>
<body>
    <h1>Name: {{artefact.name}}</h1>
    <p>Owner: {{artefact.owner}}</p>
    <p>Description: {{artefact.description}}</p> <br>

    <ol id="artefacts">
    {% for image in artefact_images %}
    <li>
      <img src="{{ image.image_url }}">
    </li>
    {% endfor %}
    </ol>
</body>
</html>
