<!DOCTYPE html>
<html lang="en">
<!-- 
    *** HOW TO USE THIS TEMPLATE ***

    There are three different sections: title, head, mainbody

    - title is what will display on the tab of the page in the broswer, follwed by the -Shell-Safe 🐢
    - head is anything that needs to go in the head of the html, any scripts or css files that isn't in the body
    - mainbody is anything that goes in the body, in the main navbar

    helloturtles.html is a simple example of how to extend from this template


-->
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <title>{% block title %}{% endblock %} - Shell-Safe <img src="static/images/turtle2.jpg" alt="Turtle"></title>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Navbar up top has two different forms, for users logged in, and for users not logged in-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff">

      <a class="navbar-brand" href={% if current_user.is_authenticated %}"/artefacts"{% else %}"/#"{% endif %}>
        <h1>Shell-Safe 🐢</h1>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if current_user.is_authenticated %}

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href='/artefacts'>Artefacts<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/uploadartefact">Upload an artefact</a>
          </li>
        </ul>

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/settings">Account Settings</a>
            <a class="dropdown-item" href="/family">My Family</a>
          </div>
        </div>

        <a class="nav-item btn-logout">
          <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#exampleModal">
            Logout
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                  <form action='/logout' method="POST">
                    <a class="btn btn-secondary" data-dismiss="modal" role="button">Close</a>
                    <!-- <a class="btn btn-primary" href="/logout" role="button">Logout</a> -->
                    <button class="btn btn-primary" type="submit" value="Delete">Logout</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->

        {% else %}

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href='/'>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>

        {% endif %}

      </div>
    </nav>

    <!-- Messages to be displayed to alert -->
    <!-- In order to flash a message, use flash("msg") before returning a page to add that message
      to the messages to be displayed on the returned page -->
    <div class="container" id="flashed_messages_container">
      {% for message in get_flashed_messages() %}
      <div class= "alert alert-warning">
        <button type='button' class = "close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% block mainbody %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
