{% extends 'base.html' %}

{% block title %}Edit {{artefact.name}}{% endblock %}

{% block mainbody %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Edit Artefact</h1>
    <p class="lead text-muted">From here you can edit your wonderful artefact! Reupload pictures, change the description and title.</p>
    <p>
      <a onclick="window.history.back()" class="btn btn-primary my-2" style="color:white;" >Back</a>
      
      <a class="nav-item btn-logout">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal">
            Delete Artefact
            </button>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Artefact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="text-align: left;">
                  Are you sure you want to delete this artefact?
                  </div>
                  <div class="modal-footer">
                    <form action='/deleteartefact/{{artefact.artefact_id}}' method="POST">
                      <a class="btn btn-secondary" data-dismiss="modal" role="button">Close</a>
                      <button class="btn btn-primary" type="submit" value="Delete">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </a>
    </p>
  </div>
</section>


<div class="container">
<form action="/editartefact/{{artefact.artefact_id}}" enctype="multipart/form-data" method="post">
  <div class="row">
    <div class="col">
        <div class="form-group">
            <label for="artefactTitle">Artefact Title</label>
            <input type="text" class="form-control" id="artefactTitle" name="name" value="{{artefact.name}}">
          </div>
    </div>
    <!--
    <div class="col">
        <div class="form-group">
            <label for="artefactOwner">Owner</label>
            <input type="number" class="form-control" id="artefactOwner" name="owner">
        </div>
    </div>
    -->
  </div>
  <div class="form-group">
      <label for="artefactDescription">Description</label>
      <textarea class="form-control" type="text" name="description" id="artefactDescription" rows="3">{{artefact.description}}</textarea>
    </div>
  <label for="artefactDescription">Artefact stored with: &nbsp;&nbsp;</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="stored_with" id="user" value="user" {% if artefact.stored_with == "user"%}checked{% endif %}>
    <label class="form-check-label" for="location">
      You
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="stored_with" id="location" value="location" {% if artefact.stored_with == "location"%}checked{% endif %}>
    <label class="form-check-label" for="location">
      Location
    </label>
  </div>
  


  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="stored_with_user">Stored with user id: (if applicable)</label>
        <input type="number" id="stored_with_user" name="stored_with_user"
          {% if artefact.stored_with == "user" %}
            value="{{artefact.stored_with_user}}"
          {% endif %} ><br>

        <label for="artefactTitle">Stored at location: (if applicable)</label>
        <input type="text" class="form-control" id="stored_at_loc" name="stored_at_loc"
          {% if artefact.stored_with == "location" %}
            value="{{artefact.stored_at_loc}}"
          {% endif %} ><br>

      </div>
      <div class="form-group">
          <label for="imageUpload">Image/s: (optional)</label>
          <input type="file" class="form-control-file" multiple data-show-upload="true" name="pic" data-show-caption="true" accept="image/*">
        </div>
    </div>

    <div class="col">
      <div class="row"> <!-- HIDE FROM TO BE MADE
        <div class="col">
          <div class="dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hide From
            </a>
            <div class="dropdown-menu">
              <li>
                &nbsp;
                <input type="checkbox" value="tag1"> Bill </input>
              </li>
              <li>
                &nbsp;
                <input type="checkbox" value="tag2"> Joe </input>
              </li>
              <li>
                &nbsp;
                <input type="checkbox" value="tag3"> Raph </input>
              </li>
            </div>
          </div>
        </div>

      <div class="col">

        <div class="form-group">

          <label for="Tags">Tags</label>
          <input type="text" class="form-control" placeholder="Separate tags by commas" id="tags" name="tags">

          <!--
          <div class="dropdown">
            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tags
            </a>
            <div class="dropdown-menu">
              <li>
                &nbsp;
                <input type="checkbox" value="tag1"> Tag1 </input>
              </li>
              <li>
                &nbsp;
                <input type="checkbox" value="tag2"> Tag2 </input>
              </li>
              <li>
                &nbsp;
                <input type="checkbox" value="tag3"> Tag3 </input>
              </li>

            </div>
          </div>
          -->

          <!--
          <form>
            <div class="form-row align-items-center">
              <div class="col my-1">
                <label class="sr-only" for="inlineFormInputName">Tag</label>
                <input type="text" class="form-control" id="inlineFormInputName" placeholder="New Tag">
              </div>  
              <div class="col my-1">
                <button type="submit" class="btn btn-secondary">+</button>
              </div>
            </div>
          </form>
          <-->

        </div>
      </div>
    </div>
  </div>
</div>

  <div class="wrapper">
      <button type="submit" value="editartefact" class="btn btn-primary btn-lg"> Publish</button>
  </div>

  </form>
</div>
<p></p>
<p></p>
<p></p>
<p></p>


{% endblock %}


