{% extends 'base.html' %}

{% block title %}{{current_user.first_name}} Edit Account Settings{% endblock %}

{% block mainbody %}
<div class="container home-container">
        <div class="jumbotron">
        <div class="container">
        
            <h1>Profile</h1>
                <hr>
            <div class="row">                      
                <!-- edit form column -->
                <div class="col-md-8 personal-info">
                
                <form action="/edit_settings" class="form-horizontal" role="form" method='POST'>
                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <div class="col-lg-10">
                        <input class="form-control" type="text" value="Jane">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Last name:</label>
                        <div class="col-lg-10">
                        <input class="form-control" type="text" value="Bishop">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-10">
                        <input class="form-control" type="text" value="janesemail@gmail.com" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col">
                        <a role="button" type="submit" value="edit_settings" class="btn btn-primary" href="/profile" value="Save Changes">Save Changes</a>
                        <span></span>
                        <a role="button" class="btn btn-default" href="/settings" value="Cancel">Cancel</a>
                        </div>
                    </div>
                </form>
                
                </div>
                <div class="col">
                    
                    <!--
                    <p>&nbsp;</p>
                   
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#passwordModal">Change Password</button>
                    <p></p>
                    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form autocomplete="off">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Old Password:</label>
                                        <input autocomplete="new-password" type="oldpassword" class="form-control" placeholder="Enter Old Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword2">New Password</label>
                                        <input autocomplete="new-password" type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword3">Confirm New Password</label>
                                        <input autocomplete="new-password" type="confirmpassword" class="form-control" id="exampleInputPassword2" placeholder="Confirm New Password">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <a class="btn btn-secondary" data-dismiss="modal" role="button">Close</a>
                            <a class="btn btn-primary" href="/#" role="button">Confirm</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    -->
                    <!-- NOT CURRENTLY DOABLE
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#adminModal">
                            Transfer Admin Privileges
                            </button>
                    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Transfer Admin Privileges</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form autocomplete="off">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect2">Choose a family member</label>
                                            <select multiple class="form-control" id="exampleFormControlSelect2">
                                                <option>Mum</option>
                                                <option>Joe</option>
                                                <option>David</option>
                                                <option>Laquisha</option>
                                                <option>Shrek</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                <a class="btn btn-secondary" data-dismiss="modal" role="button">Close</a>
                                <a class="btn btn-primary" href="/#" role="button">Confirm</a>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
    

