{% extends 'base.html' %}

{% block title %}Family Settings{% endblock %}

{% block head %}
<script>
  function copyToClipboard() 
  {
    var copy = document.getElementById("referral_code");
  
    copy.select();
    copy.setSelectionRange(0, 99999); /*For mobile devices*/
    document.execCommand("copy");
    alert("Copied the text: " + copy.value);
  }
</script>
{% endblock %}

{% block mainbody %}

<div class="container home-container">
  <div class="jumbotron">
      <div class="container">
        <h1>My Family</h1>
          <hr>
          
        <div class="row">                      
          <div class="col-md-7 personal-info">
            
            <form class="form-horizontal" role="form">    
                
              <div class="form-group col">
                <label for="referral_code">Family Referral Code</label>
                <div class="form-inline my-2 my-lg-0">
                  <input type="text" id="referral_code" class="mr-sm-2 form-control input-monospace input" data-autoselect="" value="{{referral_code}}" aria-label="{{referral_code}}" readonly="">  
                  <button type="button" class="my-2 my-sm-0 btn btn-light pull-right" onclick="copyToClipboard()">Copy</button>
                </div>                
              </div>
              <div class="form-group col">
                <label for="list-example">Family Members</label>
                <div id="list-example" class="list-group scrollable-dropdown">
                  {% for user in family %}
                    <a class="list-group-item">{{user.first_name}} {{user.surname}}</a>
                  {% endfor %}
                  </div>
              </div>     
                          
              <!--
              <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                  <a role="button" href="/editsettings" class="btn btn-primary" value="Make Changes">Apply Changes</a>
                  </div>
              </div>
              -->
            </form>
          </div>
      </div>
    </div>
    <hr>
  </div>
</div>
</div>


{% endblock %}

    