<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <title>Dummy Data</title>
</head>
<body>
    <h1>🐢 Hello furious turtles! 🐢</h1>
    <ul>
      <li><a href="/artefacts">Artefacts</a></li>
      <li><a href="/dummydata">Dummy data</a></li>
      <li><a href="/login"> Login </a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/uploadartefact">Upload an artefact</a></li>
    </ul>
</body>
</html>