
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block mainbody %}
    <div class="container home-container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">If you're already a part of a Shell-Safe family, then jump straight in!</p>
        <hr class="my-4">
        <p>Don't have an account? Sign up <a href="/register">here!</a></p>
        <div class="wrapper">
          <a class="btn btn-primary btn-lg" href="/login" role="button">Launch</a>
        </div>
      </div>
    </div>
    
{% endblock %}

