<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <title> Login</title>
</head>

<body>
    
    <h1>Login</h1>
    
    <form action="/login" method='POST'>
        <p>Email:</p>
        <input type="text" placeholder="Enter Email" name="email"></input> <br><br>
        <p>Password:</p>
        <input type="password" placeholder="Enter Password" name="password"></input><br><br>
        <input type="submit" value="Login"> </input> 
    </form>

</body>
</html>
