<!DOCTYPE html>
<html lang="en">
<head>
    <title> Login</title>
</head>
<body>
    <h1>Login</h1>
    
    <forms>
        Email: <br>
        <input type="text" placeholder="The email you would like to register with"></input> <br><br>
        Password: <br>
        <input type="password" placeholder="Enter Password"></input> <br><br>
        Please confirm your password: <br>
        <input type="password" placeholder="Enter Password"></input><br><br>
        <input type="button">Register</input> 
    </forms>

</body>
</html>