<!DOCTYPE html>
<html lang="en">
<head>
    <title> Login</title>
</head>
<body>
    <h1>Login</h1>
    
    <form action="/login" method='POST'>
        First Name: <br>
        <input type="text" placeholder="Enter First Name" name="first_name"></input> <br><br>
        Last Name: <br>
        <input type="text" placeholder="Enter Last Name" name="last_name"></input> <br><br>
        Family ID: <br>
        <input type="number" placeholder="Enter Family ID" name="familyID"></input> <br><br>
        Email: <br>
        <input type="text" placeholder="Enter Email" name="email"></input> <br><br>
        Password: <br>
        <input type="password" placeholder="Enter Password" name="pass"></input> <br><br>
        Please confirm your password: <br>
        <input type="password" placeholder="Re-enter Password" name="confirm_pass"></input><br><br>
        <input type="submit" value="Register"></input> 
    </form>

</body>
</html>