<!DOCTYPE html>
<html lang="en">
<head>
    <title> Login</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
</head>
<body>
    <h1>Login</h1>
    
    <form action="/login" method='POST'>
        <p>First Name:</p>
        <input type="text" placeholder="Enter First Name" name="first_name"></input> <br><br>
        <p>Last Name:</p>
        <input type="text" placeholder="Enter Last Name" name="last_name"></input> <br><br>
        <p>Family ID:</p>
        <input type="number" placeholder="Enter Family ID" name="familyID"></input> <br><br>
        <p>Email:</p>
        <input type="text" placeholder="Enter Email" name="email"></input> <br><br>
        <p>Password:</p>
        <input type="password" placeholder="Enter Password" name="pass"></input> <br><br>
        <p>Please confirm your password:</p>
        <input type="password" placeholder="Re-enter Password" name="confirm_pass"></input><br><br>
        <input type="submit" value="Register"></input> 
    </form>

</body>
</html>