body { 
    background: #f8f9fa;
}
h1 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
	color: black;
	font-size: 50px;
	line-height: 55px;
	text-align: center;
}
 
p {
	font-family: 'Crimson Text', Georgia, Times, serif;
	text-align: center;
	color: black;
	font-size: 16px;
	line-height: 25px;
}

.wrapper {
	text-align: center;
}

.home-container {
	margin-top:5%;
}

.form-container {
	margin-top:30px;
}

.scrollable-dropdown {
    height: 200px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row-centered{
    margin: auto; 
    max-width: 10%;
}

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}
